<div class="option-group">
    <form class='update_template_form'>
            <label>
              <h3></h3>
              <input type="text" class="message_template_label" value='{{label}}'>
            </label>
            <label>
              <h3></h3>
              <textarea class="message_template">{{template}}</textarea>
            </label>
            <br>
    <button class="update_message_template">Update</button>
    <button class="delete_message_template">Delete</button>
    {{arrows}}
    </form>
</div>
<hr />
