.match_hover {
    border: 1px solid #50C3AD;
}

.up_next {
    border: 3px solid #000000;
}

.standby {
    border: 3px solid #000054;
}

#extension_popup{
    width: 300px;
}

.option-group{
    width: 400px;
    margin-bottom: 20px;
}

#show_phones{
    margin-bottom: 10px;
}

.phoneicon{
    cursor:pointer;
}

#show_modal{
    display: none;
}

.mobileicon:before {
    content: "\f10b";
    font-family: FontAwesome;
    font-size: 24px;
    padding: 0px;
    margin-left: 18px;
    display: inline;
}

#send_text_btn{
    display: inline;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
}

#textnav{
    background-color: #333333;
    margin: 0;
    padding: 0;
}

#textnav .nav-header{
    margin-left: 3px;
    margin-top: 15px;
    color: #eeeeee;
    letter-spacing: 1px;
}
