<!DOCTYPE html>
<html>
<head>
    <title>Challonge Notifier options</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/challonge.css">
</head>
<body>

<div id="status"></div>

<div class="option-group">
    <form id="twilio">
            <label>
              Twilio gateway URL (leave blank to use JoeQuery's gateway)
              <input type="text" id="twilio_url">
            </label>
            <br>
            <label>
              Access Token (if using your own Twilio gateway)
              <input type="password" id="twilio_api">
              <a href="#" id="api_key_visibility">(show)</a>
            </label>
    </form>
<button id="save">Save</button>
</div>

<div class="option-group">
    <p>Phone numbers should be cleared after every tournament.</p>
    <button id="clear_phones">Clear phone numbers</button>
</div>

<script src="/assets/js/helpers.js"></script>
<script src="/assets/js/options.js"></script>
</body>
</html>
