<!DOCTYPE html>
<html>
    <head>
        <title>Challonge Text Alert Options</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/chrome_shared.css">
        <style>
            /* Style for this page */
            body>.main-container{max-width:800px;margin:50px auto}
            header{max-width:700px;margin:0 auto 50px auto;font-size:48px}
            .fork-github{position:absolute;top:0;right:0;width:164px;height:164px}
            .social-buttons{margin-top:-30px}
            .fr{float:right}
            h1{margin-top: 30px;}
            h2{margin-top: 20px;}
            #status{font-weight: bold; font-size: 20px;}
        </style>
    </head>
    <body>
        <div id="fb-root"></div>
        <div class="main-container">
            <header>Challonge Text Alert Options</header>
            <p id='status'></p>

            <h1>Phone number data</h1>
            <hr>
            <h2>Storage usage: <span id='storage_usage'></span></h2>

            <button id='clear_phones' style="font-size:18px">Clear phone numbers</button>

            <h1>Custom SMS Gateway Options</h1>
            <hr>
            <div class="option-group">
                <form id="twilio">
                        <label>
                          <h3>Twilio gateway URL (leave blank to use JoeQuery's gateway)</h3>
                          <input type="text" id="twilio_url">
                        </label>
                        <br>
                        <label>
                          <h3>Access Token (if using your own Twilio gateway)</h3>
                          <input type="password" id="twilio_api">
                          <a href="" id="api_key_visibility">(show)</a>
                        </label>
                </form>
                <br>
                <button id="save_gateway">Save</button>
            </div>
            <hr/>
            <!-- Widgets for Chrome Extension starts -->
            <h3>Sub Heading</h3>

            <h3>TextBox</h3>
            <input type="text" placeholder="Type here..."/>

            <h3>CheckBox</h3>
            <div class="checkbox">
                <label>
                    <input type="checkbox"/><span></span>This is a checkbox 
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked/><span></span>This is a checked checkbox 
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" disabled/><span></span>This is a disabled checkbox 
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked disabled/><span></span>This is a disabled but checked checkbox 
                </label>
            </div>

            <h3>Radio Buttons</h3>
            <div class="radio">
                <div>
                    <input id="startup-newtab" type="radio" name="startup" value="5" >
                    <label for="startup-newtab">Radio Button</label>
                </div>
            </div>
            <div class="radio">
                <div>
                    <input id="startup-newtab1" type="radio" name="startup" value="5" disabled>
                    <label for="startup-newtab1">Disabled Radio Button</label>
                </div>
            </div>

            <h3>Dropdowns</h3>
            <select>
                <option selected>This is a dropdown</option>
                <option>Another option</option>
                <option>Another option</option>
            </select>
            <select disabled>
                <option selected>Disabled dropdown</option>
                <option>Another option</option>
                <option>Another option</option>
            </select>
            <select class="large">
                <option selected>Large dropdown</option>
                <option>Another option</option>
                <option>Another option</option>
            </select>
            <h3>Buttons</h3>
            <button style="font-size:11px">Small Button</button>
            <button>Normal Button</button>        
            <button disabled>Disabled Button</button>
            <button style="font-size:18px">Large Button</button>
            <button style="font-size:24px">X-Large</button>
            <button style="font-size:30px">XX-Large</button>

            <br/>
            <br/>
            <a href="http://www.compzets.com">This is a link ....</a>
            <!-- Widgets for Chrome Extension ends -->
            
            <p>
                About: This is small CSS Kit for designing the options/settings page for Chrome Extensions. It resembles the exact look as the native settings page of Chrome Browser. For a live example, you can have a look at the options page of <a href="http://plugins.compzets.com/simplefill">SimpleFill</a> plugin.
            </p>
            <p>
                NOTE: This Kit is meant for Chrome Browsers only.
            </p>
            <p>
                With &#9829; by Ram Swaroop
            </p>
            <br/>
            <br/>
            <!-- Some Ads -->
        </div>
        <script src="/assets/js/helpers.js"></script>
        <script src="/assets/js/options.js"></script>
    </body>
</html>
