<ul class="nav nav-tabs">
<li class="active">
<a data-hide-loading="1" data-href="/matches/26170073" data-toggle="modal" href="#">Match Details</a>
</li>
<li>
<a data-hide-loading="1" data-href="/matches/26170073/edit" data-toggle="modal" href="#">Report Scores</a>
</li>
</ul>

<div class="matchup">
<div class="participant">
<div class="contents">
<img alt="" class="portrait" height="52" src="//challonge.com/assets/gravatar-9c57ac60b0c1107025c0fba83d421813.png" width="52">
<div class="name">
Player1
</div>
</div>
</div>
<div class="versus">
vs
</div>
<div class="participant">
<div class="contents">
<img alt="" class="portrait" height="52" src="//challonge.com/assets/gravatar-9c57ac60b0c1107025c0fba83d421813.png" width="52">
<div class="name">
Player7
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
<div class="overall-score-set">
<div class="score">
<div class="contents">
-
</div>
</div>
<div class="divider">
&nbsp;
</div>
<div class="score">
<div class="contents">
-
</div>
</div>
<div class="clearfix"></div>
</div>
<hr>
<div id="set-time-and-location">
<div class="center">
<a href="#" class="btn btn-primary" data-hide-loading="1" data-href="/matches/26170073/edit_time_and_location" data-toggle="modal">Set Time and Location</a>
</div>
</div>
